*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body
{
    background: #112E81;
    color: #fff;
}

.container
{
    margin:12%;
    width: 90%;
    max-width: 700px;
}

.display
{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 6px;
}

.container h1
{
    font-size: 45px;
    font-weight: 500;
}

.container h1 span
{
    color: #ffc30e;
    font-family: 'Courier New', Courier, monospace;
}

.display img
{
    width:30px;
    cursor:pointer;
}

.display input
{
    font-size: 24px;
    border: 0;
    outline: 0;
    background: transparent;
}

.container button img
{
    width: 28px;
    margin-right: 10px;
}

.container button
{
    display: flex;
    align-items: center;
    background: #ffc30e;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    cursor: pointer;
}

.container button:hover
{
    background: #FADA7A;
}